// Babette is l33t
#nav {
  padding: 10px;
  background-color: purple;
  margin-bottom: 25px;
  a {
    padding: 20px;
    font-family: Arial;
    color: yellow;
  }
}

// Global styles 
body {
  font-family: Arial;
}

h2 {
  font-family: Arial;
  color: blue;
}

h3 {
  font-family: Arial;
  color: red;
}

p {
  font-family: Arial;
  color: blue;
}
